* {
	padding: 0;
	margin: 0;
}

@keyframes Entry_animation {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-100vh);
	}
}

.Main_Entry {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: 100;
	background-color: #ffcaca;
	animation-delay: 2s;
	animation: 1s Entry_animation 0.7s ease-out forwards;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Main_Entry > img {
	width: 30vw;
	height: auto;
}

@media screen and (max-width: 900px) {
	.Main_Entry > img {
		width: 50vw;
		height: auto;
	}
}
